.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
    overflow-x: hidden;
    margin-top: 100px;

    form {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-bar {
            width: 70%;
            font-size: 1.5em;
            padding: 2% 3%;
            margin: 3%;
            box-shadow: 0 3px 10px #bbb;
            border: 1px solid #eee;
        }

        .search-icon {
            font-size: 1.5em;
            position: absolute;
            right: 20%;
        }
    }
}

