.flip-card-container {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;

    .close {
        position: absolute;
        top: 15%;
        right: 5%;
        font-size: 2em;
    }

    .flip-card-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        max-width: 80vw;
        max-height: 80vw;
        width: 400px;
        height: 400px;
        margin: 40px 0;
        box-shadow: 0 4px 15px #ccc, 0 4px 30px #ddd;
        color: #555;
        padding: 2%;

        span {
            font-size: 2em;
            padding: 10px;
        }

        p {
            margin-top: 5%;
            font-size: 1.2em;
        }

        select {
            width: 80%;
            margin: 3%;

            option {
                width: 80%;
                overflow: hidden;
                word-wrap: normal;
                white-space: normal;
            }
        }

        button {
            border: 1px solid #FF6565;
            padding: 3% 6%;
            margin: 5%;
            border-radius: 5px;
            color: #111;

            &:hover {
                background: #FF6565;
                color: #fff;
            }
        }
    }
}