.flip-card {
    position: absolute;
    height: 100%;
    width: 300px;
    max-width: 65vw;
    background: #fff;

    span {
        font-size: 2em;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 10px #ccc;
        padding: 2%;

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            font-weight: 400;
            color: #000;
            
            p {
                font-size: 1.2em;
            }
        }

        .flip-card-back {
            transform: rotateY(180deg);
        }
    }

}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.prev-card {
    left: 0;
    transform: scale(0.95);
    background:rgb(235, 162, 162)
}

.active-card {
    left: 50%;
    transform: translateX(-50%);
    background: rgb(162, 235, 162);
    z-index: 10;
}

.next-card {
  right: 0;
  transform: scale(0.95);
}

