article {
    position: absolute;
    transition: 0.5s ease;
    height: 100%;
    width: 300px;
    max-width: 65vw;
}

.flip-card {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;

    span {
        font-size: 2em;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.1), 0px 0px 5px #ccc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 2%;
        background: #fff;
        pointer-events: none;

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            font-weight: 400;

            p {
                font-size: 1.2em;
            }
        }

        .flip-card-back {
            transform: rotateY(180deg);
            padding: 2em;
        }
    }
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.prev-card,
.next-card {
    left: 50%;
    z-index:9;
    pointer-events: none;

        .flip-card-inner {
            color: #ddd;
            box-shadow: 0 0 5px #ccc;
        }
}

.active-card {
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.prev-card {
    transform: translateX(calc(-50% - 200px)) translateY(-20px) rotate(10deg) scale(0.85);

    &:nth-child(2n) {
        transform: translateX(calc(-50% - 200px)) translateY(-20px) rotate(15deg) scale(0.85);
    }

    &:nth-child(3n) {
        transform: translateX(calc(-50% - 200px)) translateY(-20px) rotate(5deg) scale(0.85);
    }
}

.next-card {
    transform: translateX(calc(-50% + 200px)) translateY(-20px) rotate(-10deg) scale(0.85);

    &:nth-child(2n) {
        transform: translateX(calc(-50% + 200px)) translateY(-20px) rotate(-15deg) scale(0.85);
    }

    &:nth-child(3n) {
        transform: translateX(calc(-50% + 200px)) translateY(-20px) rotate(-5deg) scale(0.85);
    }
}

