article {
    position: absolute;
    transition: 0.5s ease;
    height: 100%;
    width: 300px;
    max-width: 65vw;
    touch-action: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.flip-card {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;

    span {
        font-size: 2em;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.1), 0px 0px 5px #ccc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 2%;
        background: #fff;

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            pointer-events: none;

            p {
                font-size: 1.2em;
            }

            .level {
                position: absolute;
                top: 20px;
                right: 30px;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background:rgba(0, 0, 0, 0.1);
            }

            .easy {
                background:rgb(129, 214, 96)
            }

            .medium {
                background:rgb(255, 186, 108)
            }

            .hard {
                background:rgb(255, 108, 108)
            }
        }

        .flip-card-back {
            transform: rotateY(180deg);
            padding: 2em;

            .level {
                left: 30px;
            }
        }
    }
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.prev-card,
.next-card {
    left: 50%;
    z-index:9;
    pointer-events: none;

        .flip-card-inner {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            color: #ddd;
            box-shadow: 0 0 5px #ccc;
        }
}

.active-card {
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.prev-card {
    transform: translateX(calc(-50% - 200px)) translateY(-20px) rotate(10deg) scale(0.85);

    &:nth-child(2n) {
        transform: translateX(calc(-50% - 200px)) translateY(-20px) rotate(15deg) scale(0.85);
    }

    &:nth-child(3n) {
        transform: translateX(calc(-50% - 200px)) translateY(-20px) rotate(5deg) scale(0.85);
    }
}

.next-card {
    transform: translateX(calc(-50% + 200px)) translateY(-20px) rotate(-10deg) scale(0.85);

    &:nth-child(2n) {
        transform: translateX(calc(-50% + 200px)) translateY(-20px) rotate(-15deg) scale(0.85);
    }

    &:nth-child(3n) {
        transform: translateX(calc(-50% + 200px)) translateY(-20px) rotate(-5deg) scale(0.85);
    }
}

.active-card .save-label {
    transform: scale(0.5);
    transition: 0.5 ease;
    background: rgba(71, 250, 0, 0.2);
}

.active-card .delete-label {
    transform: scale(0.5);
    transition: 0.5 ease;
    background: rgba(255, 0, 0, 0.2);
}

.active-card .flip .delete-label,
.active-card .flip .save-label {
    transform: scale(0.5) rotateY(180deg);
}

