    .notification {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        width: 80%;
        border-radius: 5px;
        background: #7455fd;
        text-align: center;
        padding: 10px;
        color: #fff;
    }